body {
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-gradiente-de-galaxia_23-2148988608.jpg) !important;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% ;
}